@import "../../App.scss";
.Classes-details {
  background-color: black;
  padding: 30px 0px;
  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 57px;
    text-align: center;
    color: white;

    span {
      color: $blue-bg;
      margin: 0px 10px;
    }
  }
  h2 {
    text-align: center;
    margin: 20px 0px;
  }
  .Classes-timetable {
    width: 90%;
    margin: auto;
    overflow-x: scroll;
    table {
      background-color: white;
      width: 100%;
      border: 1px solid gray;
      border-spacing: 0px;
      thead {
        background: #f3f1f1;
        border: 1px solid #e2e2e2;
      }
      tr {
        th {
          font-size: 32px;

          text-align: center;
          letter-spacing: 1.92px;
          padding: 2vw;
          box-sizing: border-box;
          border: 1px solid gray;
        }
        td {
          color: $blue-bg;
          font-size: 24px;
          text-align: center;
          letter-spacing: 1.44px;
          padding: 2vw;
          border: 1px solid gray;
        }
      }
    }
  }
}
@media (width<=540px) {
  th {
    font-size: 22px !important;
  }
  td {
    font-size: 18px !important;
  }
}
