@font-face {
  font-family: "Agency Fb", "Sans-Serif";
  src: url(./Font/AgencyFB-Bold.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: "Agency Fb", "Sans-Serif";
}
